# Ignore datasets but keep folder
data/*
!data/.gitkeep

# Ignore logs but keep folder
logs/*
!logs/.gitkeep

release_phase1/


# Ignore models but keep folder
detection-engine/models/*
!detection-engine/models/.gitkeep

# Ignore virtual environment
venv/

# Ignore model files
*.pkl
*.joblib

# Ignore Python cache
__pycache__/
*.pyc

# Ignore node modules
backend/node_modules/
frontend/node_modules/

# Ignore build files
frontend/build/
backend/dist/

# Ignore IDE/editor configs
.vscode/
.idea/
*.swp

release_phase1/
release_phase1_demo_results.zip
release_phase1.zip
