# =====================================================
# Detection Engine – Runtime & Logs
# =====================================================

# Realtime detection logs
realtime_v2/*.csv
realtime_v2/logs/
realtime_v2/*.log

# =====================================================
# Trained ML Models
# =====================================================
models/*
!models/.gitkeep

# Serialized models
*.pkl
*.joblib

# =====================================================
# Temporary / Cache
# =====================================================
__pycache__/
*.pyc

# =====================================================
# Packet Capture Files
# =====================================================
*.pcap
*.pcapng
